

.navbar-custom .navbar-brand {
  max-width: 80%;
  margin-bottom: 20px;
}

.navbar{
  min-height: 70px;
}

h5.callout{
  font-size: 2em;
  line-height: 1.3em;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform:lowercase;
}


@media(min-width:768px) {
  .navbar-header{
    max-width: 40%;
  }
  .navbar-custom .navbar-brand {
    max-width: 200%;
    margin-bottom: 0;
  }

  h5.callout{

    font-size: 3em;
    line-height:2em;
  }
}

@media(min-width:992px) {
  .navbar-header{
    max-width: 200%;
  }
  .navbar-custom .navbar-brand {
    max-width: 200%;
    margin-bottom: 0;
  }
  .navbar{
    min-height: 50px;
  }
}

img{
  max-width: 100%;
}
