<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Trent Oswald - therebelrobot</title>
  <meta name=”description” content="therebelrobot. Maker of web things. Aficionado of Node, Javascript, CSS, and french toast. San Francisco, CA, USA">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Trent Oswald - therebelrobot">
  <meta itemprop="description" content="therebelrobot. Maker of web things. Aficionado of Node, Javascript, CSS, and french toast. San Francisco, CA, USA">
  <meta itemprop="image" content="http://therebelrobot.com/img/avatar.png">
  
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@therebelrobot">
  <meta name="twitter:title" content="Trent Oswald - therebelrobot">
  <meta name="twitter:description" content="therebelrobot. Maker of web things. Aficionado of Node, Javascript, CSS, and french toast. San Francisco, CA, USA">
  <meta name="twitter:creator" content="@therebelrobot">
  <meta name="twitter:image:src" content="http://therebelrobot.com/img/avatar.png">
  
  <!-- Open Graph data -->
  <meta property="og:title" content="Trent Oswald - therebelrobot" />
  <meta property="og:type" content="profile" />
  <meta property="og:url" content="http://therebelrobot.com" />
  <meta property="og:image" content="http://therebelrobot.com/img/avatar.png" />
  <meta property="og:description" content="therebelrobot. Maker of web things. Aficionado of Node, Javascript, CSS, and french toast. San Francisco, CA, USA" />
  <meta property="og:site_name" content="Trent Oswald - therebelrobot" />
  <meta property="fb:admins" content="582330320" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
